html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

h1, h2{
  text-align: center;
}

h2{
  border-bottom: 2px solid #000033;
  margin: 0;
  padding: .5em 0;
}

a{
  text-decoration: none;
}

.btn{
  border: none;
  background-color: #000033;
  color: #fff;
  padding: .5em;
  width: 75px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.btn:hover{
  background-color: #004080;
  cursor: pointer;
}

/***************HEADER*****************/
.mainHdr{
  text-align: center;
  margin: 0 auto;
}

.links{
  margin: 3em 0;
}

.links a:hover{
  color: #004080;
}

.links a{
  font-size: 1.15em;
  margin: 0 1em;
  color: #000033;
  font-weight: 800;
}


/******************HOME****************/
.home{
  width: 385px;
  margin: 0 auto;
}


/*******MEAL DETAILS SECTION************/

.mealDetails{
  width: 385px;
  margin: 0 auto 2em auto;
  height: 400px;
  border: 2px solid #000033;
}

.form{
  padding: 2em 1em;
}

.form label{
  display: inline-block;
  width: 40%;
  text-align: right;
}

.form input{
  width: 40%;
  padding: .5em;
  margin: .5em;
}

.form .small{
  width: 20%;
}

.error{
  color: red;
  margin: 0;
  margin-bottom: 1em;
  font-size: .85em;
  text-align: center;
}

.cancelBtn{
  position: relative;
  left: 15em;
  top: -4.6em;
  padding: .55em;
}

input.submitted.ng-invalid{
  border: 1px solid red;
}

input.submitBtn{
  width: 75px;
  margin: 3em 1em 0 7em;
}

/*******CUSTOMER CHARGES/EANINGS SECTION*********/

.customer-charges, .earnings-info{
  width: 385px;
  height: 200px;
  border: 2px solid #000033;
  margin: 0 auto;
}

.customer-charges{
  margin-bottom: 50px;
}

.customer-charges hr{
  width: 45%;
  margin-left: 4em;
}

.totals{
  padding: 1em 2em;
}

.totals p{
  display: inline-block;
  margin: .5em 0;
  width: 40%;
  text-align: right;
}

.totals span{
  display: inline-block;
  margin-left: 1em;
}

.reset{
  display: block;
  margin: 5em auto 0 auto;
}


/************ANIMATIONS*****************/
.view.ng-enter,
.view.ng-leave.ng-leave-active { 
  opacity: 0;
  margin-right: 100%;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}
.view.ng-leave,
.view.ng-enter.ng-enter-active { 
  opacity:1;
  margin-right: 0;
  -webkit-transition: .5s linear all .7s;
  transition: .5s linear all .7s;
}
