html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

h1, h2{
  text-align: center;
}

h2{
  border-bottom: 2px solid #000033;
  margin: 0;
  padding: .5em 0;
}

.btn{
  border: none;
  background-color: #000033;
  color: #fff;
  padding: .5em;
  width: 75px;
}

.errors{
  color: red;
  text-align: center;
  margin-top: -1em;
}

/*******MEAL DETAILS SECTION************/

.mealDetails{
  width: 45%;
  float: left;
  height: 450px;
  border: 2px solid #000033;
}

.form{
  padding: 2em 1em;
}

.form label{
  display: inline-block;
  width: 40%;
  text-align: right;
}

.form input{
  width: 40%;
  padding: .5em;
  margin: .5em;
}
.form .small{
  width: 20%;
}

input.submitBtn{
  width: 75px;
  margin: 4em 1em 0 7em;
}

/*******CUSTOMER CHARGES/EANINGS SECTION*********/

.customer-charges, .earnings-info{
  float: right;
  width: 45%;
  height: 200px;
  border: 2px solid #000033;
}

.customer-charges{
  margin-bottom: 50px;
}

.customer-charges hr{
  width: 45%;
  margin-left: 4em;
}

.totals{
  padding: 1em 2em;
}

.totals p{
  display: inline-block;
  margin: .5em 0;
  width: 40%;
  text-align: right;
}

.totals span{
  display: inline-block;
  margin-left: 1em;
}

.reset{
  display: block;
  margin: 5em auto 0 auto;
}